header{
  background-color: cornflowerblue;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  width: 170px;
  margin-bottom: 50px;
  border-radius: 10px;
  padding: 10px;
}
footer{
  background-color: darkslateblue;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  color: white;
}
p{
  background-color: rgb(77, 60, 193);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
  width: 150px;
  color: white;
}
span{
  margin-bottom: 10px;
}
button{
  border-radius: 10px;
  padding: 10px;
  width: 100px;
  margin-bottom: 10px;
}
form{
  display: flex;
  flex-direction: column;
}
ul {
  width: 100%;
  list-style: none;
  padding: 0 0.25rem 0.25rem;
}

ul li::before {
  content: "\200B";
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
  background-color: #e6f078;
  border-radius: 10px;
}

.item:first-child {
  margin: 0;
}

.item input[type="checkbox"] {
  text-align: center;
  width: 2.5rem;
  width: 48px;
  min-width: 48px;
  height: 2.5rem;
  height: 48px;
  min-height: 48px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.item input[type="checkbox"]:focus + label {
  text-decoration: underline;
}

.item > label {
  font-size: 0.75rem;
  flex-grow: 1;
}

.item svg {
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: rgb(47, 137, 210);
  cursor: pointer;
}

.item svg:focus, 
.item svg:hover {
  color: rgb(221, 7, 7);
  outline: none;
}
.addForm {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0.5rem 0 0;
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
}

.addForm label {
  position: absolute;
  left: -99999px;
}

.addForm input[type='text'] {
  flex-grow: 1;
  max-width: calc(100% - 50px);
  min-height: 48px;
  font-size: 1rem;
  border: 2px solid purple;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  margin-right: 0.25rem;
  outline: none;
}
